.button {
  margin-left: 1rem;
  padding: .6em .8em;
  background: rgb(235, 237, 240);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 6px;
}
.button:hover {
  background: rgb(223, 225, 225);
}

.button:hover .text{
  color: rgb(68, 73, 80);
}

.icon {
  margin: 0 0.8em 0 0.4em;
  color: var(--ifm-color-primary);
}

.text {
  color: rgb(126, 123, 123);
  font-size: 0.9rem;
  padding: 0 1rem 0 0;
}

.kbd {
  color: rgb(146, 143, 143);
  border: none;
  background-color: rgb(223, 225, 225);
  line-height: 2.4em;
  padding: 0 .8em;
  box-shadow: none;
  border-radius: 3px;
}

