:root {
  --docsearch-input-color: #5d6494;
  --docsearch-highlight-color: #5468ff;
  --docsearch-background-light-color: #f5f5fa;
  --docsearch-background-highlight-color: rgba(218, 219, 234, 0.4);
  --docsearch-border-color: rgba(197, 201, 224, 0.4);
}

.DocSearch-Container,
.DocSearch-Container * {
  box-sizing: border-box;
}

.DocSearch-Container {
  background-color: rgba(34, 38, 51, .4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.DocSearch-Modal {
  background-color:white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16);
  margin: 60px auto auto auto;
  max-width: 540px;
  width: 100%;
}

.DocSearch-Modal a {
  text-decoration: none;
}

.DocSearch-Footer {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  padding: 8px 16px;
  color: rgb(150, 146, 146);
  border-top: solid 1px #eee;
}

.DocSearch-Commands {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.DocSearch-Commands li:not(:last-of-type) {
  margin-right: 8px;
}

.DocSearch-Logo {
  align-items: center;
  display: flex;
}

.DocSearch-Logo a {
  line-height: 0;
}

.DocSearch-SearchBar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 1;
}

.DocSearch-Form {
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  margin: 0;
  padding: 0 8px;
  position: relative;
  width: 100%;
}

.DocSearch-Input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: inherit;
  border: none;
  font: inherit;
  height: 100%;
  outline: none;
  padding: 1rem;
  width: 100%;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  display: none;
}

.DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  color: var(--docsearch-input-color);
  height: 2rem;
  width: 2rem;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel,
.DocSearch-Reset {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
  display: none;
}

.DocSearch-Reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  right: 0;
}

.DocSearch-Reset[hidden] {
  display: none;
}

.DocSearch-Reset:focus {
  background: var(--docsearch-background-light-color);
  color: #5468ff;
  color: var(--docsearch-highlight-color);
  outline: none;
}

.DocSearch-Reset svg {
  height: 10px;
  width: 10px;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  height: 18px;
  width: 18px;
}

.DocSearch-Dropdown {
  overflow: scroll;
  -ms-overflow-style: none;
  padding: 0.2em 2rem 2em;
  scrollbar-width: none;
}

.DocSearch-Dropdown::-webkit-scrollbar {
  display: none;
}

.DocSearch-Dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.DocSearch-Dropdown-Container {
  position: relative;
}

/* .DocSearch-Hits mark {
  background: none;
  color: #5468ff;
  color: var(--docsearch-highlight-color);
  font-weight: 700;
}

.DocSearch-Hit[aria-selected='true'] {
  background-color: rgba(218, 219, 234, 0.4);
  background-color: var(--docsearch-background-highlight-color);
  border-radius: 8px;
} */

.DocSearch-Hit a {
  color: inherit;
  display: block;
}

.DocSearch-Lvl0,
.DocSearch-Lvl1 {
  font-size: inherit;
  font-weight: normal;
  margin: 0.2rem 0;
}

.DocSearch-Commands {
  display: flex;
  color: var(--docsearch-docsearch-text-color);
}
.DocSearch-Commands-border {
  color: var(--docsearch-autocomplete-border-color);
}
.DocSearch-Commands-description {
  font-size: 0.75rem;
  letter-spacing: 0;
  margin-left: 0.25rem;
}
.DocSearch-Commands li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.DocSearch-Commands svg {
  height: 1rem;
  width: 1rem;
}
.DocSearch-Commands svg + svg {
  margin-left: 0.125rem;
}

:root {
  --algolia-autocomplete-input-color: var(--ifm-link-color);
  --algolia-autocomplete-highlight-color: var(--ifm-link-color);
  --algolia-autocomplete-background-highlight-color: var(
    --ifm-color-emphasis-200
  );
  --algolia-autocomplete-border-color: rgba(197, 201, 224, 0.4);
  --algolia-docsearch-lvl0-color: var(--ifm-link-color);
  --algolia-docsearch-logo-color-outer: #5468ff;
  --algolia-docsearch-logo-color-inner: #fff;
  --algolia-docsearch-text-color: var(--ifm-color-emphasis-600);
  --algolia-docsearch-tree-color: rgba(197, 201, 224, 0.8);
  --algolia-autocomplete-shadow-color: rgba(197, 201, 224, 0.8);
  --algolia-autocomplete-shadow-color-alpha: rgba(197, 201, 224, 0.4);
  --algolia-autocomplete-searchbox-background-color: var(
    --ifm-color-emphasis-200
  );
}

html[data-theme='dark'] {
  --algolia-autocomplete-input-color: var(--ifm-link-color);
  --algolia-autocomplete-background-highlight-color: var(
    --ifm-navbar-background-color
  );
  --algolia-autocomplete-searchbox-background-color: var(
    --ifm-background-color
  );
  --algolia-docsearch-tree-color: var(--solstice-blue);
  --algolia-autocomplete-border-color: var(--solstice-blue);
  --algolia-autocomplete-shadow-color: rgba(0, 0, 0, 0.8);
  --algolia-autocomplete-shadow-color-alpha: rgba(0, 0, 0, 0.4);
  --algolia-docsearch-logo-color-outer: var(--white);
  --algolia-docsearch-logo-color-inner: var(--ifm-background-color);
}

.DSV3-cat-separator {
  width: 100%;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 1.2em;
  background: var(--ifm-background-color);
  color: var(--algolia-docsearch-lvl0-color);
}

.DSV3-cat-separator::after {
  display: block;
  width: 100%;
  height: 0.4em;
  content: '';
  border-left: solid 1px var(--algolia-docsearch-tree-color);
}

.DSV3-title {
  font-size: 0.95em;
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--ifm-color-emphasis-900);
}

.DSV3-title::before {
  display: inline-block;
  width: 0.6em;
  height: 0.9em;
  margin-right: 0.2em;
  vertical-align: top;
  content: '';
}

.DSV3-text {
  display: block;
  margin-left: 1.2em;
  padding-bottom: .4em;
  line-height: 1em;
  font-size: 0.75em;
  color: var(--ifm-color-emphasis-600);
}

.DSV3-lvl1 {
  line-height: 1.6em;
  border-left: solid 1px var(--algolia-docsearch-tree-color);
}
.DSV3-lvl1 .DSV3-title::before {
  border-bottom: solid 1px var(--algolia-docsearch-tree-color);
}
.DSV3-lvl1.DSV3-lastLvl0 .DSV3-title {
  border-left: none;
}
.DSV3-lvl1.DSV3-lastLvl0 .DSV3-title::before {
  border-left: solid 1px var(--algolia-docsearch-tree-color);
}

.DSV3-lvl2,
.DSV3-lvl3,
.DSV3-content {
  line-height: 1.8em;
  padding-left: 1em;
  border-left: solid 1px var(--algolia-docsearch-tree-color);
}
.DSV3-lvl2 .DSV3-title,
.DSV3-lvl3 .DSV3-title,
.DSV3-content .DSV3-title {
  border-left: solid 1px var(--algolia-docsearch-tree-color);
}
.DSV3-lvl2 .DSV3-title::before,
.DSV3-lvl3 .DSV3-title::before,
.DSV3-content .DSV3-title::before {
  border-bottom: solid 1px var(--algolia-docsearch-tree-color);
}

.DSV3-lastLvl {
  padding-bottom: .3em;
}

.DSV3-lastLvl0 {
  border: none;
}
.DSV3-lastLvl0.DSV3-lastLvl .DSV3-title {
  border: none;
}

.DSV3-lastLvl .DSV3-title {
  border: none;
}
.DSV3-lastLvl .DSV3-title::before {
  border-bottom: solid 1px var(--algolia-docsearch-tree-color);
  border-left: solid 1px var(--algolia-docsearch-tree-color);
}

html[data-theme='dark'] .algolia-autocomplete-dropdown {
  background-color: black;
}
